.marquee {
  overflow: hidden;
  white-space: wrap; 
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.marqueeContent {
  display: flex;
  align-items: center;
  width: 200%;
  animation: marquee 10s linear infinite;
}

.marqueeContent > div {
  display: inline-block;
  padding: 0 20px;
  max-width: 300px;
  box-sizing: border-box;
}

@keyframes marquee {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}
